USE [master]
GO
/****** Object:  Database [Cid_Colino_Rodrigo_Memes]    Script Date: 29/01/2024 12:16:33 ******/
CREATE DATABASE [Cid_Colino_Rodrigo_Memes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cid_Colino_Rodrigo_Memes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Cid_Colino_Rodrigo_Memes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cid_Colino_Rodrigo_Memes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Cid_Colino_Rodrigo_Memes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cid_Colino_Rodrigo_Memes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cid_Colino_Rodrigo_Memes]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 29/01/2024 12:16:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[AlumnoID] [int] NOT NULL,
	[NombreAlumno] [nchar](70) NOT NULL,
	[ApellidoAlumno] [nchar](70) NOT NULL,
	[EmailAlumno] [nchar](70) NOT NULL,
	[Usuario] [nchar](70) NOT NULL,
	[Edad] [int] NOT NULL,
 CONSTRAINT [PK_Alumno] PRIMARY KEY CLUSTERED 
(
	[AlumnoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesor]    Script Date: 29/01/2024 12:16:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesor](
	[ProfesorID] [int] NOT NULL,
	[NombreProfesor] [nchar](70) NOT NULL,
	[ApellidoProfesor] [nchar](70) NOT NULL,
	[EmailProfesor] [nchar](70) NOT NULL,
	[DireccionProfesor] [nchar](10) NOT NULL,
	[Antigüedad] [int] NOT NULL,
 CONSTRAINT [PK_Profesores] PRIMARY KEY CLUSTERED 
(
	[ProfesorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alumno]  WITH CHECK ADD  CONSTRAINT [CK_Alumno_AlumnoID] CHECK  (([AlumnoID]>(0)))
GO
ALTER TABLE [dbo].[Alumno] CHECK CONSTRAINT [CK_Alumno_AlumnoID]
GO
ALTER TABLE [dbo].[Alumno]  WITH CHECK ADD  CONSTRAINT [CK_Alumno_Edad] CHECK  (([Edad]>=(16) AND [Edad]<=(100)))
GO
ALTER TABLE [dbo].[Alumno] CHECK CONSTRAINT [CK_Alumno_Edad]
GO
ALTER TABLE [dbo].[Profesor]  WITH CHECK ADD  CONSTRAINT [CK_Profesor_Antigüedad] CHECK  (([Antigüedad]>(0)))
GO
ALTER TABLE [dbo].[Profesor] CHECK CONSTRAINT [CK_Profesor_Antigüedad]
GO
ALTER TABLE [dbo].[Profesor]  WITH CHECK ADD  CONSTRAINT [CK_Profesor_ProfesorID] CHECK  (([ProfesorID]>(0)))
GO
ALTER TABLE [dbo].[Profesor] CHECK CONSTRAINT [CK_Profesor_ProfesorID]
GO
USE [master]
GO
